<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<!--
<suite name="PivoTest" verbose="1" >
    <parameter name="config-file" value="src/test/resources/config.properties" />
    <test name="PivoTest" >
        
        <groups>
            <run>
                <include name="abstract" />
                <include name="demo" />
            </run>
        </groups>
        
        <classes>
            <class name="com.pivotest.*" />
        </classes>
    </test>

</suite>
-->